@page "/groups"
@page "/groups/{ClubName}/"
@using Microsoft.AspNetCore.Authorization
@using BlazorClient.Services.GroupManagement
@using System.BLL.Models.GroupManagement
@attribute [Authorize]
@inject NavigationManager _navigationManager
@inject IGroupService _groupService

<div class="table">
    <DataGrid TItem="GroupModel"
              Data="@_groups"
              TotalItems="@_totalCount"
              Filterable="true"
              FilterMethod="DataGridFilterMethod.Contains">
        <DataGridColumns>
            <DataGridCommandColumn TItem="GroupModel">
                <DeleteCommandTemplate>
                    <Button Color="Color.Danger" Clicked="@context.Clicked">Delete</Button>
                </DeleteCommandTemplate>
            </DataGridCommandColumn>
            <DataGridColumn TItem="GroupModel" Field="@nameof(GroupModel.Title)" Caption="Название" />

            <DataGridColumn TItem="GroupModel" Field="@nameof(GroupModel.LessonsPerWeek)" Caption="Уроков в неделю" />
            <DataGridColumn TItem="GroupModel" Field="@nameof(GroupModel.OnlineConversationLink)" Caption="Ссылка на конференцию" />
            <DataGridColumn TItem="GroupModel" Field="@nameof(GroupModel.StartDate)" Caption="Начало занятий" />
            <DataGridColumn TItem="GroupModel" Field="@nameof(GroupModel.EndDate)" Caption="Окончание занятий" />
            <DataGridColumn TItem="GroupModel" Field="@nameof(GroupModel.Capacity)" Caption="Количество учащихся" />
            <DataGridColumn TItem="GroupModel" Field="@nameof(GroupModel.Status)" Caption="Статус" />



            <DataGridColumn TItem="GroupModel" Field="@nameof( GroupModel.Id)" Sortable="false" Filterable="false">
                <DisplayTemplate>

                    <Button Color="Color.Danger" Clicked="@(() => DeleteUser(context.Id))">
                        Delete
                    </Button>

                    <Button Color="Color.Primary" Clicked="@(() => EditGroup(context.Id))">
                        <Icon Name="IconName.Edit" IconStyle="IconStyle.Solid" />
                    </Button>

                </DisplayTemplate>
            </DataGridColumn>
        </DataGridColumns>
    </DataGrid>
</div>

<a href="groups/add" class="separate-add-button"></a>

@code {
    
    [Parameter]
    public string ClubName { get; set; }
    
    private bool _loading;
    private IList<GroupModel> _groups;
    private bool _isDeleting;
    private int _totalCount;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        _groups = (await _groupService.GetAllAsync()).ToList();
        _totalCount = _groups.Count;
        _loading = false;
    }

    private async void DeleteUser(int id)
    {
        var user = _groups.First(x => x.Id == id);
        _isDeleting = true;
        await _groupService.DeleteAsync(id);
        _groups.Remove(user);
        StateHasChanged();
        _isDeleting = false;
    }
    private async void EditGroup(int id)
    {
        _navigationManager.NavigateTo($"/groups/{id}/edit");
    }

}
