@page "/users/add"
@using Microsoft.AspNetCore.Authorization
@using BlazorClient.Services.AccountManagement
@using BlazorClient.Services.AlertManagement
@attribute [Authorize]
@inject IAlertService _alertService
@inject IAccountService _accountService
@inject NavigationManager _navigationManager

<div class="white-bg-plate form">
    <h1>Добавить</h1>
    <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator/>

        <Divider DividerType="DividerType.TextContent" Text="О пользователе"
                 Margin="Margin.Is4.FromTop.Is4.FromBottom"/>

        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is5">Имя пользователя</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit Placeholder="Имя пользователя" @bind-Text="@model.UserName"/>
            </FieldBody>
        </Field>

        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is5">Фамилия</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit Placeholder="Фамилия" @bind-Text="@model.Surname"/>
            </FieldBody>
        </Field>

        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is5">Имя</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit Placeholder="Имя" @bind-Text="@model.Name"/>
            </FieldBody>
        </Field>

        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is5">Отчество</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit Placeholder="Отчество" @bind-Text="@model.MiddleName"/>
            </FieldBody>
        </Field>

        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is5">Дата рождения</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <DateEdit TValue="DateTime" @bind-Date="@model.BirthDay"/>
            </FieldBody>
        </Field>


        <Field Horizontal="true">
            <FieldLabel ColumnSize="ColumnSize.Is5">Пароль</FieldLabel>
            <FieldBody ColumnSize="ColumnSize.Is5">
                <TextEdit Role="TextRole.Password" @bind-Text="@model.Password"/>
            </FieldBody>
        </Field>

        <Divider DividerType="DividerType.TextContent" Text="Местоположение"
                 Margin="Margin.Is4.FromTop.Is4.FromBottom"/>


        <Row Class="justify-content-space ">
            <Column ColumnSize="ColumnSize.Is12" Margin="Margin.Is2">
                <Button Size="Size.Large" Color="Color.Primary" Block="true" disabled="@_loading">
                    @if (_loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Сохранить
                </Button>
            </Column>
            <Column ColumnSize="ColumnSize.Is12" Margin="Margin.Is0.FromTop.Is2">
                <Button To="users" Color="Color.Secondary" Block="true">Отменить</Button>
            </Column>

        </Row>
    </EditForm>
</div>
<AlertCustom/>

@code {
    private AddUser model = new AddUser();
    private bool _loading;

    private async void OnValidSubmit()
    {
        _loading = true;
        try
        {
            await _accountService.Register(model);
            _alertService.Success("User added successfully", keepAfterRouteChange: true);
            _navigationManager.NavigateTo("users");
        }
        catch (Exception ex)
        {
            _alertService.Error(ex.Message);
            _loading = false;
            StateHasChanged();
        }
    }

}