@page "/users"
@using Microsoft.AspNetCore.Authorization
@using BlazorClient.Services.AccountManagement
@using System.BLL.Models.UserManagement
@using BlazorClient.Services.GroupManagement
@attribute [Authorize]
@inject NavigationManager NavigationManager 
@inject IAccountService AccountService
@inject IGroupService groupService


<div class="table">
    <DataGrid TItem="UserModel"
              Data="@users"
              TotalItems="@totalCount"
              Filterable="true"
              FilterMethod="DataGridFilterMethod.Contains">

        <DataGridColumns>
            <DataGridCommandColumn TItem="UserModel">

                <DeleteCommandTemplate>
                    <Button Color="Color.Danger" Clicked="@context.Clicked">Delete</Button>
                </DeleteCommandTemplate>

            </DataGridCommandColumn>
            <DataGridColumn TItem="UserModel" Field="@nameof(UserModel.UserName)" Caption="Имя пользователя" />
            <DataGridColumn TItem="UserModel" Field="@nameof(UserModel.Name)" Caption="Имя" />
            <DataGridColumn TItem="UserModel" Field="@nameof(UserModel.Surname)" Caption="Фамилия" />
            <DataGridColumn TItem="UserModel" Field="@nameof(UserModel.MiddleName)" Caption="Отчество" />
            <DataGridColumn TItem="UserModel" Field="@nameof(UserModel.BirthDay)" Caption="Дата рождения" />
            <DataGridColumn TItem="UserModel" Field="@nameof(UserModel.Email)" Caption="Емеил" />
            <DataGridColumn TItem="UserModel" Field="@nameof( UserModel.Id)" Sortable="false" Filterable="false">
                <DisplayTemplate>

                    <Button Color="Color.Danger" Clicked="@(() => DeleteUser(context.Id))">
                        Delete
                    </Button>
                    <Button Color="Color.Primary" Clicked="@(() => EditUser(context.Id))">
                        <Icon Name="IconName.Edit" IconStyle="IconStyle.Solid" />
                    </Button>

                </DisplayTemplate>

            </DataGridColumn>

        </DataGridColumns>

    </DataGrid>
</div>

<a href="users/add" class="add-user"></a>




@code {
    private bool loading;
    private IList<UserModel> users;
    private bool IsDeleting;
    private int totalCount;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        users = (await AccountService.GetAll()).ToList();
        totalCount = users.Count;
        loading = false;
    }

    private async void DeleteUser(int id)
    {
        var user = users.First(x => x.Id == id);
        IsDeleting = true;
        await AccountService.Delete(id);
        users.Remove(user);
        StateHasChanged();
        IsDeleting = false;
    }

    private async void EditUser(int id)
    {
        NavigationManager.NavigateTo($"/users/{id}/edit");
    }

}